{% extends 'base.html.twig' %}

{% block title %}Nos Logements{% endblock %}

{% block body %}

  <div class="jumbotron text-center">
    <h1>Nos logements</h1>
    <p>Nous allons découvrir ici le principe de routing et on va chercher à créer nos premières pages. Cela sera l'occasion de passer en revue les différents composants qui permettent au framework de répondre aux requêtes faites par le navigateur.</p>
  </div>

{% endblock %}
